name: Initialize Repo
on:
  workflow_dispatch:
    inputs:
      project-name:
        description: 'Name of the project'
        required: true
        default: ''
      project-slug:
        description: 'Slug of the project'
        required: true
        default: ''
      theme-name:
        description: 'Parent theme name'
        required: true
        default: ''
      child-name:
        description: 'Child theme name'
        required: true
        default: ''

jobs:
  build:
    runs-on: ubuntu-latest
    name: Replacing Repository variables
    steps:
      - uses: actions/checkout@v3        
      - name: Run script file
        run: |
          grep -rl '<<[var.project.name]>>' /wp-theme | xargs sed -i 's/<<[var.project.name]>>/${{ github.event.inputs.project-name }}/g';
        shell: bash
